/* src/index.css */
@import './output.css';
/* Your additional styles */

/* Your custom styles below */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  color: #fff; /* Màu tiêu đề sáng */
}

body, html {
  background-color: #000;
  color: #fff;
}

.bg-white {
  background-color: #111 !important;
}

.text-gray-900, .text-gray-700, .text-gray-600 {
  color: #fff !important;
}

.hover\:bg-gray-50:hover, .hover\:bg-gray-100:hover, .bg-gray-50 {
  background-color: #222 !important;
}