name: Deploy to Heroku

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.21'

    - name: Install Frontend Dependencies
      run: |
        cd frontend
        npm install
        npm install @stripe/stripe-js @stripe/react-stripe-js --save

    - name: Build Frontend
      run: |
        cd frontend
        npm run build
      env:
        VITE_API_URL: https://www.fuzzyai.click
        VITE_SKIP_TYPECHECK: true
        NODE_ENV: production

    - name: Move Frontend Build to Backend
      run: |
        mkdir -p backend/static
        cp -r frontend/dist/* backend/static/

    - name: Install Backend Dependencies
      run: |
        cd backend
        go mod download

    - name: Build Backend
      run: |
        cd backend
        go build -o main ./cmd/api

    - name: Install Heroku CLI
      run: |
        curl https://cli-assets.heroku.com/install.sh | sh

    - name: Create Heroku App
      run: |
        heroku auth:token
        heroku apps:info hiddenscore || heroku create hiddenscore
        heroku buildpacks:clear -a hiddenscore
        heroku buildpacks:add heroku/nodejs -a hiddenscore
        heroku buildpacks:add heroku/go -a hiddenscore
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

    - name: Deploy to Heroku
      uses: akhileshns/heroku-deploy@v3.12.14
      with:
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: "hiddenscore"
        heroku_email: "fuzzyfox145@gmail.com"
        dontautocreate: true