name: Deploy to Heroku

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.21'

    - name: Install Frontend Dependencies
      run: |
        cd frontend
        npm install

    - name: Build Frontend
      run: |
        cd frontend
        npm run build
      env:
        VITE_API_URL: https://www.fuzzyai.click
        VITE_SKIP_TYPECHECK: true
        NODE_ENV: production

    - name: Install Backend Dependencies
      run: |
        cd backend
        go mod download

    - name: Build Backend
      run: |
        cd backend
        go build -o main

    - name: Deploy to Heroku
      uses: akhileshns/heroku-deploy@v3.12.14
      with:
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: "hiddenscore"
        heroku_email: "fuzzyfox145@gmail.com"
        buildpack: "heroku/nodejs heroku/go"